    * {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    }
    
    .give_margin {
        padding-left: 4%;
        margin-top: 101px;
        /* padding-right: 8%; */
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .navbar {
        display: flex;
        overflow: hidden;
        align-items: center;
        padding-left: 29px;
        height: 80px;
        justify-content: space-between;
        width: 100vw;
        z-index: 800;
        background-color: white;
        top: 8px;
        border-radius: 42px;
        /* required */
    }
    
    .initial_nav {
        display: flex;
        column-gap: 31px;
        position: relative;
        /* right: 65px; */
    }
    
    .initial_nav li:hover {
        border-bottom: 0.5px solid black;
    }
    /*     
   a img  {
        width: 115px;
    } */
    
    .logo_img {
        width: 115px;
        margin-top: 10px;
    }
    
    ul {
        list-style-type: none;
    }
    
    .initial_nav a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        font-family: "Segoe UI", Tahoma, Arial, sans-serif;
        font-weight: 700;
    }
    
    .right_nav {
        display: flex;
        column-gap: 45px;
        margin-right: 111px;
    }
    
    .right_nav a {
        text-decoration: none;
        color: #5c1d62;
        font-weight: 700;
        margin-top: 7px;
    }
    
    .right_nav a:hover {
        text-decoration: underline;
    }
    
    .hamburger_image {
        height: 34px;
    }
    
    .hamburger {
        margin-right: 15px !important;
        display: none;
    }
    
    .Talk_to_sales {
        border-radius: 15px;
        font-size: 14px;
        color: #5c1d62;
        font-weight: 600;
        padding: 11px 15px 11px 15px;
        border-width: 1.5px;
        background-color: white;
        border-radius: 5px;
        border-color: #5c1d62;
        cursor: pointer;
    }
    
    .Talk_to_sales:hover {
        border-width: 2px;
    }
    
    .Try_for_free {
        border-radius: 15px;
        font-size: 14px;
        cursor: pointer;
        color: white;
        font-weight: 600;
        padding: 11px 15px 11px 15px;
        border-width: 1.5px;
        border-radius: 5px;
        background-color: #5c1d62;
    }
    
    .features {
        /* font-size: 15px;
font-weight: 400px;
margin: 0; */
        display: flex;
        /* flex-basis: 40% 55%; */
    }
    
    .basis_40 {
        flex-basis: 40%;
    }
    
    .image_right {
        flex-basis: 55%;
        overflow: hidden;
    }
    
    #phone_image {
        display: none;
    }
    
    .hero {
        width: 55%;
        max-width: 785px;
        max-height: 505px;
        position: absolute;
        right: -30px;
        margin-top: 19px;
        border-radius: 3px;
    }
    
    .feature_line {
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
    }
    
    .slack_features {
        margin-top: 2px;
        margin-bottom: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    
    .bolded_text {
        font-size: 49px;
        font-weight: 650;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .try_for_free {
        border-radius: 15px;
        font-size: 15px;
        color: white;
        cursor: pointer;
        font-weight: 600;
        padding: 20px 35px 20px 35px;
        border-width: 1.5px;
        border-radius: 5px;
        background-color: #5c1d62;
    }
    
    .try_for_free:hover {
        background-color: #420d47;
    }
    
    .see_all_feature {
        border-radius: 15px;
        cursor: pointer;
        font-size: 15px;
        color: #5c1d62;
        font-weight: 600;
        padding: 20px 35px 20px 35px;
        margin-left: 5px;
        border-width: 1.5px;
        background-color: white;
        border-radius: 5px;
        border-color: #5c1d62;
    }
    
    .see_all_feature:hover {
        border-width: 2px;
    }
    
    .partners_list {
        margin-top: 120px;
        padding-left: 0px;
        margin-left: 60px;
        margin-right: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 2px;
        align-items: center;
    }
    
    .partners_list li img {
        display: flex;
        justify-content: space-around;
        max-width: 100px;
    }
    
    .bigger_picture {
        width: 40%;
        height: 400px;
        margin-top: -63px;
        position: absolute;
        right: -30px;
        border-radius: 3px;
    }
    
    .purple {
        margin-top: 125px;
        height: fit-content;
        background-color: #f4ede4;
        width: 100%;
    }
    
    .make_row div {
        cursor: pointer;
        transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
    }
    
    .make_row_2 div {
        cursor: pointer;
        transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
    }
    
    .make_row div:hover {
        color: #1264a3;
        transform: scale(1.05, 1.05);
    }
    
    .make_row_2 div:hover {
        color: #1264a3;
        transform: scale(1.05, 1.05);
    }
    
    .one {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        grid-area: one;
        background-color: white;
    }
    
    .two {
        display: flex;
        row-gap: 5px;
        flex-direction: column;
        grid-area: two;
        background-color: white;
    }
    
    .three {
        display: flex;
        flex-direction: column;
        grid-area: three;
        background-color: white;
    }
    
    .four {
        display: flex;
        flex-direction: column;
        grid-area: four;
        position: relative;
        z-index: 69;
        background-color: white;
    }
    
    .five {
        display: flex;
        flex-direction: column;
        grid-area: five;
        background-color: white;
    }
    
    .six {
        grid-area: six;
        background-color: white;
    }
    
    .make_row {
        /* height: fit-content; */
        overflow: hidden;
        display: grid;
        grid-template-areas: "one two three four" "one two five six";
        grid-template-columns: 25% 25% 25% 25%;
        margin: 44px;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        z-index: 89;
    }
    
    @media only screen and (max-width: 1230px) {
        .navbar {
            height: 57px !important;
            border-radius: 0 !important;
        }
        .hamburger {
            display: block;
            margin: 56px;
        }
        .initial_nav {
            display: none;
        }
        .right_nav {
            display: none;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .image_right {
            flex-basis: 100% !important;
        }
    }
    
    @media only screen and (max-width: 532px) and (min-width:436px) {
        .image_right {
            flex-basis: 173% !important;
        }
    }
    
    @media only screen and (max-width: 436px) and (min-width:400px) {
        .image_right {
            flex-basis: 131% !important;
        }
    }
    
    @media only screen and (max-width:1071px) {
        .two_buttons {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }
    }
    
    @media only screen and (min-width:1071px) {
        .partners_list {
            margin-top: 308px;
        }
    }
    
    @media only screen and (min-width:791px) and (max-width:965px) {
        .cycle div {
            height: 708px !important;
        }
        .cycle_para {
            margin-right: 80px;
        }
    }
    
    @media only screen and (max-width:976px) {
        .make_row_2 {
            display: flex !important;
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            position: static !important;
        }
    }
    
    @media only screen and (max-width:790px) {
        .basis_40 {
            flex-basis: 103%;
        }
        .features {
            height: 662px;
            flex-direction: column;
            height: 1250px;
        }
        .image_right {
            flex-basis: 225%;
        }
        .hero {
            max-height: 858px;
        }
        .two_buttons {
            display: flex;
            width: 80%;
            row-gap: 15px;
            flex-direction: column;
        }
        .hero {
            position: static !important;
            width: 80%;
        }
        #laptop_image {
            display: none;
        }
        #phone_image {
            display: block;
        }
        .make_row {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 30px;
        }
        .make_flex2 {
            display: flex !important;
            flex-direction: column !important;
        }
        .unknown {
            display: flex;
            margin-bottom: 40px;
            flex-direction: column;
            height: fit-content;
            justify-content: space-around;
        }
        .bigger_picture {
            width: auto;
            position: static;
            margin-top: 50px;
        }
        .partners_list {
            flex-direction: column;
            margin-top: 100px;
            align-content: center;
            row-gap: 35px;
        }
        .purple {
            margin-top: 68px;
        }
        .bigger_picture2 {
            width: 330px !important;
            margin-top: 24px !important;
            margin-bottom: 90px !important;
            padding-right: 2%;
            left: -4% !important;
            /* position: static !important; */
        }
        .one_liner {
            width: 78% !important;
        }
        .bolded_text_2 {
            width: 78% !important;
        }
        .right_text {
            width: 100% !important;
        }
        .right_text p {
            margin-right: 61px;
            margin-left: 13px;
        }
        .explore_flex {
            flex-direction: column;
        }
        .cycle {
            flex-direction: column;
            margin: 15px !important;
        }
        .cio {
            margin-top: 31px !important;
        }
        .cycle_image {
            width: 63% !important;
            margin: 63px !important;
            margin-bottom: 0px !important;
            margin-top: 40px !important;
        }
        .cycle_para {
            width: 100% !important;
            padding: 54px !important;
            height: 750px !important;
            padding-top: 40px !important;
        }
        .small_delivery {
            margin-top: 40px;
            position: static !important;
            width: 60% !important;
        }
        .purple_back {
            clip-path: ellipse(105% 100% at center top) !important;
            height: 450px !important;
        }
        .two_buttons2 {
            display: flex;
            flex-direction: column;
        }
        .purple_back h1 {
            margin-top: 71px !important;
            font-size: 38px !important;
        }
    }
    
    .make_row div {
        padding: 16px;
        border-radius: 8px;
    }
    
    .make_row div p:first-of-type {
        font-weight: 700;
        font-size: 17px;
    }
    
    .make_row div p {
        font-size: 17px;
    }
    
    .make_flex1 {
        display: flex;
        flex-direction: column;
    }
    
    .bolded_text_2 {
        font-size: 35px;
        font-weight: 700;
        margin: 57px;
        margin-bottom: 5px;
        background-color: f4ede4;
    }
    
    .one_liner {
        margin: 15px 0px 0px 60px;
        font-size: 15px;
        width: 50%;
        background-color: #f4ede4;
    }
    
    .box_white_1 {
        background-color: rgb(147, 126, 126);
        width: 300px;
        height: 180px;
    }
    
    .box_white_2 {
        background-color: rgb(182, 24, 24);
        width: 300px;
        height: 90px;
    }
    
    .make_flex2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 35px;
    }
    
    .bigger_picture2 {
        width: 500px;
        height: 400px;
        margin: 0;
        position: relative;
        left: 4%;
    }
    
    .right_text {
        margin-top: -90px;
        margin-left: 68px;
        width: 50%;
        text-align: left;
        row-gap: 10px;
    }
    
    .right_text p:first-of-type {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 25px;
    }
    
    .make_row_2 {
        display: grid;
        grid-template-areas: "one two three " "one two four";
        grid-template-columns: 25% 25% 25% 25%;
        position: relative;
        top: -211px;
        left: 234px;
        margin: 44px;
        grid-row-gap: 15px;
        grid-column-gap: 15px;
        z-index: 89;
    }
    
    .make_row_2 div {
        padding: 20px;
    }
    
    .make_row_2 div p:first-of-type {
        font-weight: 700;
        font-size: 17px;
    }
    
    .make_row_2 div p {
        font-size: 17px;
    }
    
    .cycle {
        margin: 50px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
    }
    
    .cycle_image {
        width: 450px;
        height: 250px;
        margin: 40px;
        border-radius: 3px;
    }
    
    .cycle div {
        height: 500px;
    }
    
    .cycle_para {
        width: 40%;
        margin-right: 186px;
        padding: 4px;
    }
    
    .cycle_para p {
        margin-top: 30px;
        font-size: 30px;
    }
    
    .small_delivery {
        cursor: pointer;
        width: 13%;
        position: absolute;
        /* right: 470px; */
    }
    
    .cio {
        font-size: 15px !important;
        margin-top: 80px !important;
    }
    
    .bring_explore {
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 32px;
        font-weight: 730;
        margin-bottom: 35px;
    }
    
    .explore_flex {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        overflow: hidden;
    }
    
    .make_column_flex {
        margin: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 2rem rgb(0 0 0 / 10%);
    }
    
    .make_column_flex {
        /* overflow: hidden; */
        cursor: pointer;
        transition: transform 420ms cubic-bezier(.165, .84, .44, 1);
    }
    
    .make_column_flex:hover {
        transform: scale(1.04, 1.04);
    }
    
    .make_column_flex p {
        overflow: hidden;
    }
    
    .make_column_flex p:first-of-type {
        color: rgb(86, 77, 77);
        font-weight: 400;
    }
    
    .explore_flex div {
        flex-basis: 22%;
    }
    
    .explore_flex div img {
        /* width: 249px; */
        margin: 13px;
    }
    
    .explore_flex div p {
        margin: 11px;
        margin-left: 13px;
    }
    
    .make_bol {
        font-size: 20px;
        font-weight: 600;
        overflow: hidden;
        height: fit-content;
        margin: 13px;
        margin-top: -12px;
    }
    
    @media only screen and (max-width:1007px) and (min-width:791px) {
        .explore_flex div {
            flex-basis: 28%;
        }
    }
    
    .learn_more {
        justify-self: flex-end;
        align-self: flex-start;
        color: #1264a3;
        font-weight: 600;
    }
    
    .frequent_ques {
        text-align: center;
        margin-top: 92px;
        margin-bottom: 50px;
    }
    
    .ques_flex {
        display: flex;
        flex-direction: column;
        /* row-gap: 60px; */
    }
    
    .ques_flex div {
        cursor: pointer;
        border-top: 1px solid grey;
        font-size: 18px;
        font-weight: 650;
        padding: 30px;
        margin-left: 35px;
    }
    
    .purple_back {
        background: #3a063b;
        height: 300px;
        clip-path: ellipse(75% 100% at center top);
    }
    
    .purple_back h1 {
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 100px;
        font-size: 45px;
        color: white;
    }
    
    .two_buttons2 {
        display: flex;
        justify-content: center;
    }
    
    .Talk_to_sales2 {
        border-radius: 15px;
        font-size: 14px;
        color: #5c1d62;
        font-weight: 600;
        padding: 11px 15px 11px 15px;
        border-width: 1.5px;
        background-color: white;
        border-radius: 5px;
        border-color: #3a063b;
        margin: 12px;
        padding: 20px;
        padding-left: 43px;
        padding-right: 42px;
    }
    
    .Try_SLACK {
        font-size: 15px;
        color: white;
        font-weight: 600;
        padding: 11px 15px 11px 15px;
        border-color: white;
        border-radius: 5px;
        background-color: #3a063b;
        margin: 12px;
        padding: 20px;
        padding-left: 43px;
        padding-right: 42px;
    }
    
    .footer {
        display: flex;
        margin: 90px 40px 0px 40px;
        padding-bottom: 50px;
        /* margin-left: 30px;
    margin-right: 30px; */
        /* flex-direction: column; */
        justify-content: space-around;
        align-items: flex-start;
        border-bottom: 1px solid grey;
        cursor: pointer;
    }
    
    .footer_col div:hover {
        color: #1264a3;
    }
    
    .footer_logo {
        width: 74px;
        /* height: 54px; */
    }
    
    .footer_col {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        justify-content: space-evenly;
    }
    
    .footer_col p {
        font-weight: 650;
        margin-bottom: 15px;
        cursor: text;
    }
    
    .footer_col div {
        font-weight: 500;
        font-size: 14px;
        color: rgb(106, 103, 103);
    }
    
    .footer2 {
        display: flex;
        justify-content: space-between;
        margin: 40px;
        margin-top: 20px;
    }
    
    .globe {
        margin-bottom: -3px;
        margin-right: 2px;
    }
    
    .footer2_row {
        display: flex;
        justify-content: space-evenly;
        column-gap: 16px;
        cursor: pointer;
    }
    
    .footer2_row div:hover {
        color: #1264a3;
    }
    
    .blue_download {
        color: #1264a3;
    }
    
    .footer2_row div {
        font-weight: 650;
    }
    
    .social_links {
        display: flex;
        justify-content: space-evenly;
        column-gap: 25px;
    }
    
    .last_line {
        margin: 30px;
        font-size: 12px;
    }
    
    @media only screen and (max-width:653px) {
        .footer_col div {
            display: none !important;
        }
        .footer {
            flex-direction: column;
            row-gap: 12px;
            margin-left: 33px;
        }
    }
    
    @media only screen and (max-width:995px) {
        .footer2 {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
        .globe {
            display: none;
        }
        .footer2_row {
            flex-direction: column;
            row-gap: 12px;
            margin-left: 2px;
        }
        .social_links {
            justify-content: space-between;
            margin-top: 10px;
        }
    }
